{% extends 'app/base.html' %}


{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Page Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
   </head>

   
</head>
<body>
    
    {% block content %}
        
    
    <br>
        <h1>Hey {{user}}</h1>
        <br>
        <!-- Page-specific content goes here -->
        <table class="container table table-striped table-bordered table-hover" width='900PX'>
       
        <th>first_name</th>
        <th>last_name</th>
        <th>age</th>
        <th>email</th> 
        <th>gender</th> 
        <th>action</th>
        {% for i in res %}
            <tr>
            
            <td>{{ i.first_name }}</td>
            <td>{{ i.last_name }}</td>
            <td>{{ i.age }}</td>
            <td>{{i.email}}</td>
            <td>{{i.gender}}</td>
            <td><button class='btn btn-danger'><a href='{% url 'delete_faculty' id=i.id %}' class='delete'>Delete</a></button></td>
          
            </tr>
        {% endfor %}
        <form action="{% url 'create_faculty' %}" method="post">

                {% csrf_token %}

                <tr>
                    <td><input class='sdf' type='text' placeholder="last_name" name='last_name' required></td>
                    <td><input class='dataInput' type='text' placeholder="first_name" name='first_name' required></td>
                    <td><input class='dataInput' type='text' placeholder="age" name='age' required></td>
                    <td><input class='dataInput' type='email' placeholder="email" name=email required></td>
                    <td><input class='dataInput' type='text' placeholder="gender" name=gender required></td>
                    <td><button class='btn btn-success'type='submit'>Add</button></td>
                </tr>
            </form>
        </table>
        {% endblock content %}
    
</body>
</html>